* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 640px;
    height: 384px;
    background-image: url(img/pf1.png);
    background-size: 640px;
    transform: scale(1);
}

#gameDiv {
    position: absolute;
    left: 272px;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
}

#gameOver {
    position: absolute;
    width: 224px;
    height: 80px;
    left: 224px;
    top: 128px;
    z-index: 1;
    display: none;
    background-image: url("img/go.png");
    background-size: 224px;
}

#gameOver_dr {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 480px;
    top: 48px;
    z-index: 2;
    display: none;
}

#stageCompleted {
    position: absolute;
    width: 288px;
    height: 80px;
    left: 192px;
    top: 128px;
    z-index: 1;
    display: none;
    background-image: url("img/sc.png");
    background-size: 288px;
}

#topScore {
    position: absolute;
    width: 112px;
    height: 16px;
    left: 80px;
    top: 80px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

#score {
    position: absolute;
    width: 112px;
    height: 16px;
    left: 80px;
    top: 128px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

#virus {
    position: absolute;
    width: 32px;
    height: 16px;
    left: 560px;
    top: 336px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

#levelDiv {
    position: absolute;
    width: 32px;
    height: 16px;
    left: 560px;
    top: 240px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

#pillThrow {
    position: absolute;
    left: 320px;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

#br_magnifier {
    position: absolute;
    width: 64px;
    height: 48px;
    left: 32px;
    top: 256px;
    z-index: 1;
}

#bl_magnifier {
    position: absolute;
    width: 64px;
    height: 48px;
    left: 96px;
    top: 304px;
    z-index: 1;
}

#yl_magnifier {
    position: absolute;
    width: 64px;
    height: 48px;
    left: 112px;
    top: 224px;
    z-index: 1;
}

.background {
    background-color: #901829;
}